@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .container {
        width: 750px;
    }

    .discover-box {
        display: flex;
        justify-content: flex-end;
    }

    .discover-block {
        width: 578px;
        height: 152px;
        background: #FFFFFF;
        padding: 18px 49px;
        box-shadow: 0 20px 100px rgba(24, 129, 130, 0.1);
        border-radius: 50px 5px;
        position: relative;
    }

    .discover-input {
        border-radius: 5px;
        height: 50px;
        width: 200px;
        border: 1px solid #E3E3E3;
        padding: 14px 20px;
        margin: 5px 20px;
        display: flex;
    }

    .discover-btn {
        height: 50px;
        width: 138px;
        font-size: 16px;
        color: #FFFFFF;
        background-color: #009D98;
        border: none;
        border-radius: 7px;
        transition: 1s;
        cursor: pointer;
        margin: 5px 20px;
    }

    .video-box {
        position: relative;
    }

    .video-play {
        padding: 129px 95px;
    }

    .col-100\% {
        width: 100%;

    }

    .video-item-1 {
        padding: 0 0 100px 170px;
        position: relative;
    }

    .curated-img {
        height: 280px;
        width: 417px;
        border-radius: 20px;
    }

    .star {
        width: 120px;
        height: 20px;
        margin: 12px 0 0 10px;
    }

    .numbers {
        color: #009D98;
        font-size: 24px;
        margin: 20px 0 0 35px;
    }

    .curated-text-item {
        display: flex;
        padding: 22px 20px 10px 15px;
    }

    .context-1 {
        font-size: 16px;
        color: #7A7A7A;
        padding: 0 0 0 15px;
    }

    .curated-icons {
        display: flex;
        list-style: none;
        padding: 0 0 0 15px;
    }

    .flash-img {
        height: 180px;
        width: 300px;
        border-radius: 8px;
    }

    .flash-icons {
        display: flex;
        list-style: none;
        padding: 10px 0 10px 15px;
        color: #7A7A7A;
    }

    .flash-zanzibar {
        font-size: 17px;
        padding: 0 0 10px 15px;
    }

    .context {
        font-size: 15px;
        color: #7A7A7A;
        padding: 0 0 0 15px;
    }

    .flash-numbers {
        color: #009D98;
        font-size: 20px;
        margin: 10px 0 99px 15px;
    }

    .contact {
             padding: 100px 0 110px 0;
             background: linear-gradient(rgba(8, 60, 76, 0.5), rgba(0, 0, 0, 0.5)), url("../images/contact/Mask Group.png");
         }

    .icon {
        padding: 90px 0 150px 0;
    }

    .col-2 {
        width: 16.6%;
        margin: 25px 59px;
    }

    .footer-text-2 {
        font-size: 16px;
        line-height: 26px;
        padding: 40px 0 0 90px;
    }

    .footer-item {
        margin-right: 65px;
    }
}


@media screen and (max-width: 768px) {
    .container {
        width: 650px;
    }

}

@media screen and (max-width: 680px) {
    .container {
        width: 480px;
    }

    .discover-block {
        width: 897px;
        height: 152px;
        background: #FFFFFF;
        padding: 15px 0;
        box-shadow: 0 20px 100px rgba(24, 129, 130, 0.1);
        border-radius: 50px 5px;
        position: relative;
    }

    .video-play {
        padding: 129px 95px;
    }

    .video-item-1 {
        padding: 0 0 100px 106px;
        position: relative;
    }

    .curated-item {
        display: flex;
        justify-content: space-between;
        padding: 10px 50px 80px 50px;
    }

    .curated-img {
        height: 217px;
        width: 417px;
        border-radius: 20px;
    }

    .curated-text-item {
        display: flex;
        padding: 15px 20px 10px 15px;
    }

    .star {
        width: 120px;
        height: 20px;
        margin: 45px 0 0 85px;
    }

    .numbers {
        color: #009D98;
        font-size: 24px;
        margin: 10px 0 0 0;
    }

    .curated-icon {
        padding: 15px 15px 80px 0;
    }
    .flash-img {
        height: 130px;
        width: 300px;
        border-radius: 8px;
    }
    .flash-zanzibar {
        font-size: 11px;
        padding: 0 0 10px 10px;
    }
    .flash-icons {
        display: flex;
        list-style: none;
        padding: 5px 0 5px 10px;
        color: #7A7A7A;
    }
    .context {
        font-size: 11px;
        color: #7A7A7A;
        padding: 0 0 0 10px;
    }

    .flash-numbers {
        color: #009D98;
        font-size: 15px;
        margin: 10px 0 99px 10px;
    }

    .icon {
        padding: 40px 0 125px 0;
    }
.col-6100\%{
    width: 100%;
}
    .contact {
        padding: 0 0 0 0;
        background: linear-gradient(rgba(8, 60, 76, 0.5), rgba(0, 0, 0, 0.5)), url("../images/contact/Mask Group.png");
    }
    .contact-title {
        padding: 0 0 30px 0;
        color: #FFFFFF;
        font-size: 40px;
        line-height: 50px;
    }
    .contact-item {
        padding: 0 0 0;
    }
    .footer-text-2 {
        font-size: 16px;
        line-height: 26px;
        padding: 5px 0 0 0;
    }

    .footer-item {
        margin-right: 65px;
    }
    .footer {
        background: no-repeat url("../images/footer/Vector (1).png"), no-repeat url("../images/footer/Vector.png") padding-box 0 105px, no-repeat url("../images/footer/Vector (2).png") padding-box 611px 203px;
        height: 821px;
        color: #FFFFFF;
        padding: 480px 0 0 125px;
    }
    .item{
        margin: 25px 0 20px 65px;
    }
}
